# ignore dataset
archive/
backup/
zhenai_aligned_0_blurred/
blur_cam_test/
blur_cam_test0/
blur_cam_test2/
origin_images/
origin_aug_gray/
image/
train/
test/
test_gray/
validate/


# ignore saved files
*.pt
10_level_label.txt
10_level_gray_label.txt
zhenai_aligned_0_blurred_processed.txt


# ignore compressing files
zhenai_aligned_0_blurred.zip
original_images_aug.rar
origin_images.zip
validate.zip

# ignore log file
err.log