# ignore dataset
archive/
zhenai_aligned_0_blurred/
validate/
blur_cam_test/
blur_cam_test0/
blur_cam_test2/
origin_images/
image/
train/
test/
__pycache__/

# ignore compress files
zhenai_aligned_0_blurred.zip
origin_images.zip
validate.zip



# ignore saved files
*.pt
10_level_label.txt
zhenai_aligned_0_blurred_processed.txt

